.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.article-title-medium {
font-size: 36px;
}

.article-text {
margin-bottom: 20px;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #535755;
}

.article-text:last-child{
    margin-bottom: 0;
}

.article-mb {
    margin-bottom: 80px;
}

.article-img-decor-wrapper {
    position: relative;
}

.article-img-decor-wrapper::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../img/decor-icon.svg) no-repeat;
    width: 528px;
    height: 48px;
}

.article-img-decor-wrapper-1:before{
    top: 100px;
    left: -350px;
}

.article-img-decor-wrapper-2:before{
    right: -350px;
     bottom: 136px;
}

.article-img,.article-video {
    width: 100%;
}

.article-list{
    margin-top: 0;
    padding-left: 16px;
}

.article-item:not(:last-child) {
    margin-bottom: 12px;
}

.article-item::marker{
    font-size: 22px;
    color: #3596ED;
}


.article-play-button{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
align-items: center;
justify-content: center;
padding: 0;
background-color: #3596ED;
border: none;
width: 60px;
height: 60px;
border-radius: 50%;
cursor: pointer;
transition: opacity 0.2s, background-color 0.2s;
}

.article-play-button:hover {
    background-color:#2294f8;
    
}

.article-play-button:not(:disabled):active {
    background-color:#1d7bcd;
}