html{
    font-family: sans-serif;

}

body * {
    box-sizing: border-box;
}


ul, li {
    list-style: none;
    display: inline-block;
    margin:  10px;
    padding: 0;
}


.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}


.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    font-weight: 500;
}

a{
    text-decoration-color: black;
}
.phone {
    text-decoration:none;
    text-decoration-color: black;

}

hr{
    max-width: 1320px;
    color: #333;
    size: 6px;
    
}
