@font-face {
  font-family: "Satoshi-Regular";
  src: local("Satoshi-Regular"), local("Satoshi Regular"),
   url(../../fonts/Satoshi-Regular.woff2) format("woff2");
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: local("Satoshi-Medium"), local("Satoshi Medium"),
   url(../../fonts/Satoshi-Medium.woff2) format("woff2");
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: local("Satoshi-Bold"), local("Satoshi Bold"),
   url(../../fonts/Satoshi-Bold.woff2) format("woff2");
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: "Fontspring-DEMO-integralcf-heavy";
  src: local("Fontspring-DEMO-integralcf-heavy"), local("Fontspring DEMO integralcf heavy"),
  url(../../fonts/Fontspring-DEMO-integralcf-heavy.woff2) format("woff2");
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: "IntegralCF-Bold";
  src: local("IntegralCF-Bold"), local("IntegralCF Bold"),
   url(../../fonts/IntegralCF-Bold.woff2) format("woff2");
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: "Inter_24pt-Regular";
  src: local("Inter_24pt-Regular"), local("Inter_24pt Regular"),
    url(../../fonts/Inter_24pt-Regular.woff2) format("woff2");
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}