:root {
    /* font-family */
    --font-family: "Satoshi", sans-serif;
    --second-family: "Fontspring-DEMO-integralcf-heavy", sans-serif;
    --third-family: "IntegralCF-Bold", sans-serif;
    --font3: "Inter_24pt-Regular", sans-serif;
    /* colors */
    --background-color-1:  #f0f0f0;
    --background-color-2:  #000;


    /* container */
    --container-width: 1240px;
    --container-padding: 64px;
}