.text {
    font-weight: 900;
}

.text-color {color: red;}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: sans-serif;
    font-style: oblique;
    margin: 20px;
}


td,
th,
caption {
    border: 1px solid #000;
    padding: 2px;
}
caption {border-bottom: none;}
