* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	gap: 15px;
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100px auto 250px;
	min-height: 100vh;
}

.header {
	grid-column: 12 span;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	grid-column: 1 / 2 span;
	grid-row: 2 / 1 span;
	background-color: #e2e20d;
}

.main {
	grid-column: 3 / 12 span;
	grid-row: 2 / 1 span;
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
}

.main .container {
	display: grid;
	/* grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

.article {
	height: 328px;
	background-color: #de6e05;
	min-height: 200px;
}

.footer {
	grid-column: 1 / 12 span;
	grid-row: 3 ;
	background-color: #0b2fe2;
	min-height: 250px;
}

@media (width <= 1200px ) {
	.main .container { 
		/* grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr); */
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
	}

	.aside {
	grid-column: 1 / 4 span;	
	grid-row: 2 / 1 span;
	}

	.main {
	grid-column: 4 / 12 span;
	grid-row: 2 / 1 span;}
}

@media (width <= 768px ) {
	.main .container { 
		/* grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr); */
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
	}

	.aside {
	display: none;
	}

	.main {
	grid-column: 1 / 12 span;
	grid-row: 2 / 1 span;}
}