.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-block: 24px;
}

.header__logo-link {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 32px;
    color: #000;
    cursor: pointer;
}

/* .header__menu {
    margin-block: 13px;
} */

.header__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header__menu-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.header__search {
    display: flex;
    align-items: center;
    border: 1px solid var(--background-color-1);
    background-color: var(--background-color-1);
    border-radius: 62px;
    padding: 12px 16px;
    width: 462px;
    height: 48px;
}

.header__search-form {
    display: flex;
    gap: 12px;
    
}

.header__search-input {
    font-family: var(--font-family);
    border: none;
    background-color: var(--background-color-1);
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

