.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.article__title-medium {
font-size: 36px;
}

.article__text {
margin-bottom: 20px;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #535755;
}

.article__text:last-child{
    margin-bottom: 0;
}

.article__mb {
    margin-bottom: 80px;
}

.article__mb--2 {
    margin-bottom: 40px;
}

.article__img-decor-wrapper {
    position: relative;
}


.article__img-decor-wrapper--1::before{
    top: 100px;
    left: 0;
}

.article__img-decor-wrapper--2::before{
    right: 0;
    bottom: 136px;
}

.article__list{
    margin-top: 0;
    padding-left: 16px;
}

.article__item:not(:last-child) {
    margin-bottom: 12px;
}

.article__item::marker{
    font-size: 22px;
    color: #3596ED;
}


.article__play-button{
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
padding: 0;
background-color: #3596ED;
border: none;
width: 60px;
height: 60px;
border-radius: 50%;
cursor: pointer;
-webkit-transition: opacity 0.2s, background-color 0.2s;
-o-transition: opacity 0.2s, background-color 0.2s;
transition: opacity 0.2s, background-color 0.2s;
}

.article__play-button:hover {
    background-color:#2294f8;
    
}

.article__play-button:not(:disabled):active {
    background-color:#1d7bcd;
}

@media (width <= 768px) {

    .article__img-decor-wrapper::before {
        display: none;
    }

.article__mb {
margin-bottom: 60px;
}

.article__title-medium {
    font-size: 32px;
}
}

@media (width <= 768px) {
.article {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0;
}

.article__title-medium {
    font-size: 28px;
}

.article__mb {
    margin-bottom: 40px;
}

.article__mb-2 {
    margin-bottom: 30px;
}

.article__play-button {
    width: 50px;
    height: 50px;
}

.article__play-button-img {
    width: 18px;
    height: 18px;
}
 }